
@font-face {
  font-family: 'SegoeUI-Italic';
  src: url('SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),  url('SegoeUI-Italic.woff') format('woff'), url('SegoeUI-Italic.ttf')  format('truetype'), url('SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
