/node_modules
/public/hot
/public/storage
/public/js
/public/css/rush.min.css
/public/new/css/main.min.css
/public/uploads
/public/mix-manifest.json
/public/assets/css/out
/public/backend/js/photo_moderation.js
/public/backend/js/photo_moderation.js.map
/public/backend/plugins/select2
/public/service-worker.js
/laravel-echo-server.json
/runtime/echo_barebuddy/laravel-echo-server.json
/runtime/echo_buddy/laravel-echo-server.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
laravel-echo-server.lock
_ide_helper.php
.phpunit.*
/public/main/css/app.min.css
/public/backend/js/video_moderation.js.map
/public/backend/js/video_moderation.js
