@import "variables";

@media only screen and (min-width: 1920px) {
    .content-wrapper {
        width: 96vw;
        margin: 0 auto;

        &.search-menu {
            width: 96vw;
        }

        .faces {

            &.catalog {

                .face {
                    width: calc(100% / 9 );
                    height: calc(96vw / 9 );
                }
            }

            &.list {

                .face {
                    width: 48%;
                    height: 110px;
                }
            }
        }       
    }
}