.announce{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    overflow-x: hidden;
    z-index: 2000;

    .announce-background{
        position: absolute;
        top: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .announce-body{
        position: relative;
        margin: 20px auto;
        width: 90%;
        background: #002e2c;
        padding: 40px 20px 30px;
        border-radius: 12px;
        font-size: 18px;
        box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 30%);
        box-sizing: border-box;
        z-index: 2;

        p{
            margin: 0 0 15px;
            font-size: 16px;
        }
        b{
            font-family: 'RobotoCondensed-Bold';
        }
        & > .announce-welcome-back{
            color: #fff;
            text-align: center;

            & > .btn{
                margin: 10px 0 0;
            }
        }
        .dialog-close{
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
        .announce-scrollable{
            max-height: 70vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .announce{
        .announce-body{
            margin: 40px auto;
            padding: 100px 20px 50px;
            width: 420px;

            .announce-welcome-back{
                p{
                    margin: 0 0 20px;
                    font-size: 18px;
                }
                & > .btn{
                    margin: 40px 0 0;
                }
            }
            .dialog-close{
                top: 30px;
                right: 30px;
            }
        }
    }
}
