/* Colors */
$bb-green: #93BE3D;
$bb-white: #fff;
$bb-lightgrey: #AAAAAA;
$bb-midgrey: #5A5A5A;
$bb-middarkgrey: #404040;
$bb-tooltip-bg: #393933;
$bb-darkgrey: #292929;
$bb-red: #e31f3c;
$bb-bg-error: rgba(217, 92, 92, .8);
$bb-bg-success: rgba(146, 190, 60, .8);

/* Fonts */
$bb-raleway-black: 'Raleway-Black';
$bb-raleway-bold: 'Raleway-Bold';
$bb-raleway-italic: 'Raleway-Italic';
$bb-raleway-semibolditalic: 'Raleway-SemiBoldItalic';
$bb-raleway-light: 'Raleway-Light';
$bb-raleway-regular: 'Raleway-Regular';
$bb-robotoslab-regular: 'RobotoSlab-Regular';
$bb-robotoslab-bold: 'RobotoSlab-Bold';
