#announce{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 100;

    .announceWrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: url('/images/splash/background.jpg') center no-repeat;
        background-size: cover;

        .announceClose{
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;

            svg{
                width: 24px;
                height: 24px;
                fill: $bb-white;
            }
        }
        .announceWelcome{
            .announceWelcomeTitle{
                text-align: center;

                img{
                    width: 70px;
                    margin: 40px auto 10px;
                }
                span{
                    display: block;
                    font-size: 24px;
                    font-family: $bb-robotoslab-regular;
                    color: $bb-white;
                }
            }
            ul{
                margin: 40px 0 0;
                padding: 0;
                list-style: none;

                li{
                    width: 80%;
                    margin: 0 auto 25px;

                    img{
                        float: right;
                        width: 60px;
                        margin: 0 0 0 15px;
                    }
                    span{
                        display: block;
                        margin: 0 75px 5px 0;
                        font-size: 22px;
                        font-family: $bb-robotoslab-regular;
                        color: #5ff702;
                    }
                    p{
                        margin: 0 75px 0 0;
                        line-height: 22px;
                        font-size: 16px;
                        font-family: $bb-robotoslab-regular;
                        color: $bb-white;
                    }
                    &:nth-child(2n){
                        img{
                            float: left;
                            margin: 0 15px 0 0;
                        }
                        span{
                            margin: 0 0 5px 75px;
                        }
                        p{
                            margin: 0 0 0 75px;
                        }
                    }
                }
            }
        }
        .announceCreate{
            .announceCreateTitle{
                display: block;
                margin: 40px 0 30px;
                font-size: 24px;
                font-family: $bb-robotoslab-regular;
                text-align: center;
                color: $bb-white;
            }
            ul{
                margin: 0 auto;
                padding: 0;
                width: 80%;
                list-style: none;

                li{
                    margin: 0 0 35px;

                    span{
                        display: block;
                        margin: 0 auto 5px;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        background: $bb-white;
                        border-radius: 50%;
                        font-size: 22px;
                        font-family: $bb-robotoslab-bold;
                        text-align: center;
                        color: $bb-green;
                    }
                    .icon{
                        position: relative;
                        float: left;
                        width: 50px;
                        z-index: 1;

                        svg{
                            width: 36px;
                            height: 36px;
                            fill: $bb-white;
                        }
                        &.icon-plus{
                            margin: 6px 0 0;
                        }
                        &.icon-title{
                            margin: 8px 0 0;
                            height: 30px;
                            line-height: 50px;
                            font-size: 19px;
                            font-family: $bb-robotoslab-regular;
                            text-shadow: 1px 1px 2px rgba(0,0,0,.6);
                            color: $bb-white;
                        }
                        &.icon-media{
                            display: block;
                            width: 50px;
                            height: 50px;
                            margin: 10px 0 0;
                            background: linear-gradient(45deg, #12323c, #78a038);
                            border-radius: 16px;
                            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);

                            svg{
                                margin: 12px;
                                width: 26px;
                                height: 26px;
                            }
                        }
                        &.icon-send{
                            margin: 15px 0 0;
                        }
                        &.icon-with-shadow::before{
                            margin: -2px 0 0 -6px;
                            height: 10px;
                            box-shadow: 0px 0px 22px 5px black, inset 10px 0px rgba(0, 0, 0, 0.35);
                            z-index: -1;
                        }
                    }
                    p{
                        margin: 0 0 0 80px;
                        padding: 9px 0 0 0;
                        font-size: 20px;
                        font-family: $bb-robotoslab-regular;
                        color: $bb-white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    #announce{
        .announceWrapper{
            top: 50%;
            left: 50%;
            bottom: auto;
            width: 420px;
            border-radius: 15px;
            transform: translate3d(-50%, -50%, 0);

            .announceClose{
                top: 10px;
                right: -40px;

                svg{
                    width: 30px;
                    height: 30px;
                }
            }
            .announceWelcome{
                .announceWelcomeTitle{
                    img{
                        margin: 20px auto 10px;
                    }
                }
            }
            .announceCreate{
                .announceCreateTitle{
                    margin: 20px auto;
                }
            }
        }
    }
}
